// responsive screen breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

//primary colors
$primary-black: #323232;
$primary-silver: #AFAFAF;
$primary-white: #FFFFFF;

//secondary colors
$secondary-dark-black:#000000;
$secondary-mercury: #E1E1E1;
$secondary-alabaster: #FAFAFA;

// font-size
$page-header: 3.75rem;  //60px
$section-header: 2.25rem;   //36px
$subheader: 1.5rem;    //24px
$body-copy: 0.875rem;    //14px
$labels-buttons: 0.75rem;    //12px