// responsive screen breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

//primary colors
$primary-black: #120D31;
$primary-silver: #6B5468;
$primary-white: #FFF4FD;

//secondary colors
$secondary-dark-black:342630;
$secondary-mercury: #E1E1E1;
$secondary-alabaster: #F1EDF1;

// font-size
$page-header: 3.75rem;  //60px
$section-header: 2.25rem;   //36px
$subheader: 1.5rem;    //24px
$body-copy: 0.875rem;    //14px
$labels-buttons: 0.75rem;    //12px